.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border: 2px solid #acacac;
    margin-left: 10px;
    color: #545454;
    background: #dddddd;
}

.sidebar > a {
    text-decoration: none;
}

.sidebar .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #acacac;
    background: #48c7cb;
    color: white;
    height: 70px;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 9%;
    font-size: 25px;
    font-weight: bold;
}

.sidebar .button:hover {
    cursor: pointer;
    background: white;
    color: #48c7cb;
}