h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    color: #4a4a4a;
}

.App {
    display: flex;
    flex-direction: row;
    width: 980px;
    margin: 20px auto;
    font-family: "Raleway", sans-serif;
    min-height: 400px;
    height: 100%;
}


.notelist {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border: 1.25px solid #acacac;
    margin-right: 10px;
    color: #545454;
    text-align: center;
    background: #f5f5f5;
}

.notelist-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 180px;
    width: 100%;
}

.notelist-header h2 {
    /* margin-left: 5%; */
    font-size: 40px;
    /* border-left: 2px solid #48c7cb; */
}

h1 {
    margin-left: 7.5%;
    font-size: 40px;
    line-height: 40px;
}


.notelist-area {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}



a {
  color: #4a4a4a;
  text-decoration: none;
}

